#categories
  .category-list-title
    .night &
      color: $color-night-meta
    .light &
      color: $color-light-meta
  .category-list
    .category-list-item
      .category-list-count
        .night &
          color: $color-night-meta
        .light &
          color: $color-light-meta
      .category-list-count:before
        content: " ("
      .category-list-count:after
        content: ")"
