#tag-cloud
  .tag-cloud-title
    .night &
      color: $color-night-meta
    .light &
      color: $color-light-meta
  .tag-cloud-tags
    clear: both
    text-align: center
    a
      display: inline-block
      margin: 10px
